<p id="notice"><%= notice %></p>

<p>
  <strong>Guid:</strong>
  <%= @discount_plan.guid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @discount_plan.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discount_plan.description %>
</p>

<p>
  <strong>Public description:</strong>
  <%= @discount_plan.public_description %>
</p>

<p>
  <strong>Availability text:</strong>
  <%= @discount_plan.availability_text %>
</p>

<p>
  <strong>Requirements text:</strong>
  <%= @discount_plan.requirements_text %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @discount_plan.kind %>
</p>

<p>
  <strong>Min occupancy required:</strong>
  <%= @discount_plan.min_occupancy_required %>
</p>

<p>
  <strong>Min occupancy months:</strong>
  <%= @discount_plan.min_occupancy_months %>
</p>

<p>
  <strong>Prepay required:</strong>
  <%= @discount_plan.prepay_required %>
</p>

<p>
  <strong>Prepay months:</strong>
  <%= @discount_plan.prepay_months %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @discount_plan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @discount_plan.end_date %>
</p>

<p>
  <strong>Auto apply:</strong>
  <%= @discount_plan.auto_apply %>
</p>

<p>
  <strong>Promotion type:</strong>
  <%= @discount_plan.promotion_type %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @discount_plan.deleted %>
</p>

<p>
  <strong>Turned on:</strong>
  <%= @discount_plan.turned_on %>
</p>

<p>
  <strong>Available for all facilities:</strong>
  <%= @discount_plan.available_for_all_facilities %>
</p>

<p>
  <strong>Round to nearest:</strong>
  <%= @discount_plan.round_to_nearest %>
</p>

<p>
  <strong>Hide from website:</strong>
  <%= @discount_plan.hide_from_website %>
</p>

<p>
  <strong>Move in only:</strong>
  <%= @discount_plan.move_in_only %>
</p>

<p>
  <strong>Tenant account kind guid:</strong>
  <%= @discount_plan.tenant_account_kind_guid %>
</p>

<p>
  <strong>Existing tenant only:</strong>
  <%= @discount_plan.existing_tenant_only %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @discount_plan.priority %>
</p>

<p>
  <strong>Role permission:</strong>
  <%= @discount_plan.role_permission %>
</p>

<p>
  <strong>Api association guids:</strong>
  <%= @discount_plan.api_association_guids %>
</p>

<p>
  <strong>Always discount plan discount guid:</strong>
  <%= @discount_plan.always_discount_plan_discount_guid %>
</p>

<%= link_to 'Edit', edit_discount_plan_path(@discount_plan) %> |
<%= link_to 'Back', discount_plans_path %>
