<p id="notice"><%= notice %></p>

<p>
  <strong>Guid:</strong>
  <%= @unit_group.guid %>
</p>

<p>
  <strong>Price:</strong>
  <%= @unit_group.price %>
</p>

<p>
  <strong>Group key:</strong>
  <%= @unit_group.group_key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit_group.name %>
</p>

<p>
  <strong>Available units count:</strong>
  <%= @unit_group.available_units_count %>
</p>

<p>
  <strong>Total units count:</strong>
  <%= @unit_group.total_units_count %>
</p>

<p>
  <strong>Total non excluded units count:</strong>
  <%= @unit_group.total_non_excluded_units_count %>
</p>

<p>
  <strong>Size:</strong>
  <%= @unit_group.size %>
</p>

<p>
  <strong>Standard rate:</strong>
  <%= @unit_group.standard_rate %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @unit_group.floor %>
</p>

<p>
  <strong>Reduced price:</strong>
  <%= @unit_group.reduced_price %>
</p>

<p>
  <strong>Occupancy percent:</strong>
  <%= @unit_group.occupancy_percent %>
</p>

<p>
  <strong>Area:</strong>
  <%= @unit_group.area %>
</p>

<p>
  <strong>Length:</strong>
  <%= @unit_group.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @unit_group.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @unit_group.height %>
</p>

<p>
  <strong>Due at move in:</strong>
  <%= @unit_group.due_at_move_in %>
</p>

<p>
  <strong>Due at move in without fees:</strong>
  <%= @unit_group.due_at_move_in_without_fees %>
</p>

<p>
  <strong>Due monthly:</strong>
  <%= @unit_group.due_monthly %>
</p>

<p>
  <strong>Attribute description:</strong>
  <%= @unit_group.attribute_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit_group.description %>
</p>

<p>
  <strong>Average rent:</strong>
  <%= @unit_group.average_rent %>
</p>

<p>
  <strong>Active rate type:</strong>
  <%= @unit_group.active_rate_type %>
</p>

<p>
  <strong>Channel rate:</strong>
  <%= @unit_group.channel_rate %>
</p>

<p>
  <strong>Unit type:</strong>
  <%= @unit_group.unit_type %>
</p>

<%= link_to 'Edit', edit_unit_group_path(@unit_group) %> |
<%= link_to 'Back', unit_groups_path %>
