<p id="notice"><%= notice %></p>

<h1>Unit Types</h1>

<table>
  <thead>
    <tr>
      <th>Guid</th>
      <th>Name</th>
      <th>Deleted</th>
      <th>Internal account code</th>
      <th>Code and description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_types.each do |unit_type| %>
      <tr>
        <td><%= unit_type.guid %></td>
        <td><%= unit_type.name %></td>
        <td><%= unit_type.deleted %></td>
        <td><%= unit_type.internal_account_code %></td>
        <td><%= unit_type.code_and_description %></td>
        <td><%= link_to 'Show', unit_type %></td>
        <td><%= link_to 'Edit', edit_unit_type_path(unit_type) %></td>
        <td><%= link_to 'Destroy', unit_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit Type', new_unit_type_path %>
