<p id="notice"><%= notice %></p>

<p>
  <strong>Guid:</strong>
  <%= @invoiceable_fee.guid %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @invoiceable_fee.product_code %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @invoiceable_fee.kind %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoiceable_fee.description %>
</p>

<p>
  <strong>Required at move in:</strong>
  <%= @invoiceable_fee.required_at_move_in %>
</p>

<p>
  <strong>Required at transfer:</strong>
  <%= @invoiceable_fee.required_at_transfer %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoiceable_fee.amount %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @invoiceable_fee.short_description %>
</p>

<p>
  <strong>Show in sales center:</strong>
  <%= @invoiceable_fee.show_in_sales_center %>
</p>

<p>
  <strong>Tax total:</strong>
  <%= @invoiceable_fee.tax_total %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoiceable_fee.total %>
</p>

<%= link_to 'Edit', edit_invoiceable_fee_path(@invoiceable_fee) %> |
<%= link_to 'Back', invoiceable_fees_path %>
