<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @unit.price %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Area:</strong>
  <%= @unit.area %>
</p>

<p>
  <strong>Uom:</strong>
  <%= @unit.uom %>
</p>

<p>
  <strong>Width:</strong>
  <%= @unit.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @unit.length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @unit.height %>
</p>

<p>
  <strong>Door height:</strong>
  <%= @unit.door_height %>
</p>

<p>
  <strong>Door width:</strong>
  <%= @unit.door_width %>
</p>

<p>
  <strong>Door type:</strong>
  <%= @unit.door_type %>
</p>

<p>
  <strong>Access type:</strong>
  <%= @unit.access_type %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @unit.floor %>
</p>

<p>
  <strong>Size:</strong>
  <%= @unit.size %>
</p>

<p>
  <strong>Standard rate:</strong>
  <%= @unit.standard_rate %>
</p>

<p>
  <strong>Managed rate:</strong>
  <%= @unit.managed_rate %>
</p>

<p>
  <strong>Available for move in:</strong>
  <%= @unit.available_for_move_in %>
</p>

<p>
  <strong>Rentable:</strong>
  <%= @unit.rentable %>
</p>

<p>
  <strong>Status:</strong>
  <%= @unit.status %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @unit.payment_status %>
</p>

<p>
  <strong>Current ledger guid:</strong>
  <%= @unit.current_ledger_guid %>
</p>

<p>
  <strong>Current tenant guid:</strong>
  <%= @unit.current_tenant_guid %>
</p>

<p>
  <strong>Combination lock number:</strong>
  <%= @unit.combination_lock_number %>
</p>

<p>
  <strong>Attribute description:</strong>
  <%= @unit.attribute_description %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @unit.deleted %>
</p>

<p>
  <strong>Damaged:</strong>
  <%= @unit.damaged %>
</p>

<p>
  <strong>Complimentary:</strong>
  <%= @unit.complimentary %>
</p>

<p>
  <strong>Unit group:</strong>
  <%= @unit.unit_group %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
